<main role="main" class="inner cover">
  <h1 class="cover-heading home-heading">Welcome to the simple TODO list application!</h1>
  <p class="lead">Add, modify and delete simple TODO list items.</p>
  <p><%= link_to "Signup to Create Todos!", signup_path, class: "btn btn-info btn-lg" %></p>
</main>
