<div class="jumbotron jumbotron-fluid center">
  <h1 class="display-4">Welcome to a simple TODO application!</h1>
  <p class="lead">Add, modify and delete simple TODO list items.</p>
  <p><%= link_to "View ALL TODOs", todos_path, class: "btn btn-primary btn-lg" %></p>
</div>
