<header class="masthead">
  <div class="inner">
    <h3 class="masthead-brand">ToDo App</h3>
    <nav class="nav nav-masthead justify-content-center">
      <%= link_to "Home", root_path, :class => "nav-link" %>
      <%= link_to "List", todos_path, :class => "nav-link" %>
      <%= link_to "Create", new_todo_path, :class => "nav-link" %>
    </nav>
  </div>
</header>